@model List<WebApplication8.BussinessEntity.UserViewModelBase>

<div class="pd-20 card-box mb-30">
						<div class="clearfix mb-20">
							
							<div class="pull-right">
								<a asp-action="Index"
                                   asp-controller ="User"
                                
                                class="btn btn-primary btn-sm scroll-click" 
                                
                                role="button">Add User</a>
							</div>
						</div>

    @if (TempData["message"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["message"]
        </div>
    }

<table class="table">

    <tr>
            <th>Name</th>
             <th>Address1</th>
              <th>Address2</th>
               <th>Action</th>

    </tr>

    @foreach(var t in Model)
    {
        <tr>
            <td>@t.Name</td>
            <td>@t.Address1</td>
            <td>@t.Address2</td>
             <td>
                   <a class="btn btn-primary"
                   asp-action="EditInfo" asp-controller="User"
                    asp-route-id="@t.Id"
                   
                   
                   >Edit</a>
                 <a class="btn btn-danger"
                    asp-action="DeleteInfo" asp-controller="User"
                    asp-route-id="@t.Id"
                 >Delete</a>

                

             </td>

        </tr>
    }

</table>
</div>